---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/globals/Hero.astro';
import Pill from '@/components/main/Pill.astro';
import Icon from '@/components/globals/Icon.astro';
import Skill from '@/components/globals/Skill.astro';
import Grid from '@/components/main/Grid.astro';
import ActionButton from '@/components/globals/ActionButton.astro';

---

<Layout title="Welcome to Astro.">
	<section class="stack gap-20 lg:gap-48">
		<div class="wapper stack gap-8 lg:gap-20">
			<section class="hero">
				<Hero
					subtitle ='Hola a todos 👋!\n'
					title = 'Soy Matias Lombardi'
					tagline='Analista Funcional, Desarrollador Frontend React & FullStack Java.'
				>
					<article class="roles">
						<Pill>
							<Icon
								icon = 'code'
								size = '1.33'
							/>
								Metódico
						</Pill>
						<Pill>
                            <Icon 
                                icon="microphone-stage" 
                                size="1.33em"
                            />
                            Comunicativo
                        </Pill>
                        <Pill>
                            <Icon
								icon="change"
								size="1.33em"
                            />
                            Adaptable
                        </Pill>
						<Pill>
                            <Icon 
                            icon="strategy" 
                            size="1.33em"
                            />
                            Analítico
                        </Pill>
					</article>
				</Hero>
				<img
					class="hero-img"
					src=""
					width="480"
					height="620"
					alt="Matias sonriendo con una remera azul con dos botones en el cuello, con un fondo estilo mancha de color turqueza."
				>
			</section>
			<Skill />
		</div>
		<div class="wrapper stack gap-20 lg:gap-48">
			<section class="section wtih-background with-cta">
				<article class="section-header stack gap-2 lg:gap-4">
					<h3>
						Proyectos
					</h3>
					<p>
						Echa un vistazo a algunos de mis trabajos destacados.
					</p>
				</article>
				<article class="gallery">
					<!-- <Grid variant='offset'>
						{
							projects.map((project) => (
								<li>
									<PorfolioPreview project={project}/>
								</li>
							))
						}
					</Grid> -->
				</article>
				<article class="cta">
					<ActionButton href='/projects/'>
                        View All
                        <Icon 
                            icon='arrow-right'
                            size='1.2em' />
                    </ActionButton>
				</article>
			</section>
		</div>
	</section>
</Layout>

<style>
	
</style>
