---
import Icon from "./Icon.astro";
---

<section class="box skills">
    <article class="stack gap-2 lg:gap-4">
        <Icon icon="monitor" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Frontend Developer whit React</h2>
        <p>Mi objectivo es construir experiencias que no solo sean visualmente atractivas, sino también intuitivas y fáciles de usar. Estoy emocionado por enfrentar los desafíos que la industria presenta y contribuir al crecimiento.</p>
    </article>
    <article class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>FullStack Java Developer</h2>
        <p>Este rol me brinda la flexibilidad de adaptarme a diversos proyectos y asumir diferentes roles en el ciclo de desarrollo. Además me permite disfrutar de oportunidades de aprendizaje.</p>
    </article>
    <article class="stack gap-2 lg:gap-4">
        <Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Analista Funcional</h2>
        <p>Traduciendo requerimientos de clientes en soluciones tecnológicas eficaces. Mi rol abarca desde el análisis detallado de necesidades hasta el diseño y planificación colaborando con equipos de desarrollo.</p>
    </article>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>